#navigation {
margin: 0;
padding: 0;
list-style-type: none;
} 

body { background-color: #ffffdd; }


#navigation a {

font-family: Verdana;
font-size: 14px;
font-weight: bold;
text-decoration: none;
width: 150px;
height: 25px;
display: block;
color: #000000;
background-color: #FBF5EF;
text-align: center;
line-height: 25px;
border-bottom: 1px solid #000000;
border-top: 1px solid #000000;
border-left: 1px solid #000000;
border-right: 1px solid #000000;

} 

#navigation a:visited {
color: #6080C0;
}

#navigation a:hover {
background-color: #D8D8FF;
}

