body { background-color: #efefef; font-family: Arial, Helvetica, sans-serif;
color: #330066 }
a:link { color: #ff00ff }
a:visited { color: #660000 }
a:hover { color: #ffcc00 }
a:active { color: #ff0000 }